{% extends 'index.html' %}

{% block title %}

    <h1 class="text-center">ESAG-NDE / Création de comptes</h1>

{% endblock %}

{% block menuaccueil %}

    <li class="tm-nav-item"><a href="/" class="tm-nav-link">
        <i class="fas fa-home"></i>
        Accueil
    </a></li>

{% endblock %}

{% block menucreationcompte %}

    <li class="tm-nav-item active"><a href="/creationcompte" class="tm-nav-link">
        <i class="fas fa-pen"></i>
        Création de comptes
    </a></li>

{% endblock %}

{% block body%}

    <!-- Search form -->
    <!-- <div class="row tm-row">
        <div class="col-12">
            <form method="GET" class="form-inline tm-mb-80 tm-search-form">                
                <input class="form-control tm-search-input" name="query" type="text" placeholder="Search..." aria-label="Search">
                <button class="tm-search-button" type="submit">
                    <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
                </button>                                
            </form>
        </div>                
    </div> -->

    <div class="row tm-row tm-mb-120">
        <div class="col-12">
            <h2 class="tm-color-primary tm-post-title tm-mb-60">Création de comptes</h2>
        </div>
        <div class="col-10 tm-contact-left">
            <form method="POST" action="/compte" class="mb-5 ml-auto mr-0 tm-contact-form">                        
                <div class="form-group row mb-4">
                    <label for="nom" class="col-sm-3 col-form-label text-right tm-color-primary">Nom</label>
                    <div class="col-sm-9">
                        <input class="form-control mr-0 ml-auto" name="nom" id="nom" type="text" required>                            
                    </div>
                </div>
                <div class="form-group row mb-4">
                    <label for="motdepasse" class="col-sm-3 col-form-label text-right tm-color-primary">Mot de passe</label>
                    <div class="col-sm-9">
                        <input class="form-control mr-0 ml-auto" name="motdepasse" id="motdepasse" type="text" required>
                    </div>
                </div>
                <div class="form-group row mb-4">
                    <label for="typeducompte" class="col-sm-3 col-form-label text-right tm-color-primary">Type du compte</label>
                    <div class="col-sm-9">
                        <input class="form-control mr-0 ml-auto" name="typeducompte" id="typeducompte" type="text" required>                            
                    </div>
                </div>
                <div class="form-group row text-right">
                    <div class="col-12">
                        <button class="tm-btn tm-btn-primary tm-btn-small">Soumettre</button>                        
                    </div>                            
                </div>                                
            </form>
        </div>
    </div>      

{% endblock %}